<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifolio </title>
    <link rel="stylesheet" href="../static/CSS/style.css">
</head>
<body>
    <div class="navbar">
        <div class="max-width">
            <div class="logo"> <a href="#">Portfó<span>lio</span></a> </div>
            <ul class="menu">
                <li><a href="../templates/Inicio.html">Início</a></li>
                <li><a href="../templates/Sobre.html">Sobre</a></li>
                <li><a href="../templates/Contato.html">Contato</a></li>
            </ul>
            <div class="menu-btn">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
        </div>
    </div>
    
    <!--HOME INÍCIO-->
    <section class="home2" id="home2">
        <div class="icons2">
            <a href="https://ionic.io/ionicons"> <img src="../static/img/icons/2gmail.png" alt=""> </a>
            <a href="https://ionic.io/ionicons"> <img src="../static/img/icons/in.png" alt=""> </a>
            <a href="https://ionic.io/ionicons"> <img src="../static/img/icons/2twitter.png" alt=""> </a>
            <a href="https://ionic.io/ionicons"> <img src="../static/img/icons/2git.png" alt=""> </a>
            <a href="https://ionic.io/ionicons"> <img src="../static/img/icons/linkedin.png" alt=""> </a>
        </div>
            <div class="max-width">
                <div class="home-content"> 
                    <div class="text-1">Olá, meu nome é</div>
                    <div class="text-2">Ryan Alves</div>
                    <div class="text-3">eu sou <span>desenvolvedor</span></div>
                 <a href="#">Contratar-me</a>
            </div>
        </div>
    </section>  

    <!--ABOUT-->
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">Sobre</h2>
            <div class="about-content"> 
                <div class="column left">
                    <img src="../static/img/img3.jpg" alt="">
                    </div>
                    <div class="column right">
                        <div class="text"> Sou Ryan e sou <span>Developer</span></div>
                        <p>texto sobre mim para o Portifolioficar bonitin aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                        <a href="#">Conheça meu GitHub</a><br><br>

                        <input class="form-control " type="text" id="c_nome" placeholder="Nome"><br><br>
                        <input class="form-control" type="text" id="c_email"placeholder="E-mail"><br><br>
                        <input class="form-control" type="text" id="c_ass"placeholder="Assunto"><br><br>
                        <textarea class="form-control rounded-0" id="c_msg" rows="10" placeholder="Menssagem"></textarea>


                </div>
                <a href="#">Contratar-me</a>
            </div>
        </div>
    </section>
    <footer class="page-footer font-small blue"> 
        <div class="icons">
            <a href="https://ionic.io/ionicons"> <img src="../static/img/icons/wpp.png" alt=""> </a>
            <a href="https://ionic.io/ionicons"> <img src="../static/img/icons/gmail.png" alt=""> </a>
            <a href="https://ionic.io/ionicons"> <img src="../static/img/icons/insta.png" alt=""> </a>
            <a href="https://ionic.io/ionicons"> <img src="../static/img/icons/twitter.png" alt=""> </a>
            
        </div>
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/script.js"></script>

    
</body>
</html>